:root {
    --color-primary: hsl(243, 87%, 12%);
    --color-primary-desaturated: hsl(238, 22%, 44%);
    --color-blue-accent: hsl(224, 93%, 58%);
    --color-cyan: hsl(170, 45%, 43%);
    --color-blue-grayish: hsl(240, 75%, 98%);
    --color-gray: hsl(0, 0%, 75%);
}

* {
    box-sizing: border-box;
    /* overflow: auto; */
}

html,
body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
header,
nav,
a {
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-primary);
    background-color: #ffffff;
}

ul {
    list-style: none;
}

nav {
    overflow: hidden;
    /* width: 50vw; */
}

button {
    cursor: pointer;
    color: #ffffff;
    background-color: var(--color-blue-accent);
    padding: 12px 28px;
    border: none;
    border-radius: 5px;
}

main {
    width: 100%;
}

header {
    z-index: 50;
    position: fixed;
    top: 0;
    width: 100%;
    height: 32px;
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 30vw;
}

.nav-links {
    display: flex;
    z-index: 10;
    padding: 0;
    gap: 5rem;
    align-items: center;
}

.landing {
    padding: 12vh 5vw;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: calc(100vh);
    align-items: center;
    justify-items: center;
    place-items: center;
}

.border {
    border: 1px solid ;
    border-radius: 5px;
}

.landing-text > h1 {
    font-size: 2.5rem;
}

.landing-text > p {
    font-size: 1.2rem;
}

.curve {
    overflow-x: hidden;
    margin-bottom: -5px;
}

.features {
    overflow: hidden;
    padding: 0vh 5vw;
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    width: 100%;
    align-items: center;
    justify-items: center;
    place-items: center;
    background-color: var(--color-blue-grayish);
}

.feature-text {
    width: 100%;
}

.feature-text > h1 {
    font-size: 2.3rem;
}

.feature-text > p {
    font-size: 1.2rem;
}

.about-link {
    color: var(--color-cyan);
    text-decoration: underline;
    text-underline-offset: 10px;
    display: inline-flex;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial-text {
    margin-top: -2vh;
}

.testimonial-avatar {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-gray);
}

.about-link > span {
    border: 10px;
}

.testimonial {
    margin-top: 5vh;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1.5vh 3vw;
    width: 65%;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: -15px;
}

input {
    width: 340px;
    height: 40px;
    padding: 0.3rem 1rem;
    margin: 1.3rem 0;
    border: none;
    border-radius: 5px;
}

.cta {
    overflow-x: hidden;
    padding: 8vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-desaturated);
    color: #ffffff;    
}

.cta-text,
.cta-heading {
    color: #ffffff;
}

.cta-text {
    width: 45%;
}

.cta-form {
    display: grid;
    width: 40%;
}

footer {
    padding: 12vh 5vw;
    display: grid;
    background-color: var(--color-primary);
    color: #ffffff;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: top;
    justify-items: center;
    color: #ffffff !important;
}

.footer-logo {
    padding-left: 5rem;
}

.footer-item {
    color: #ffffff !important;
}

.flex {
    display: flex;
    gap: 14px;
    padding: 10px 0px
}